<div class="modal fade show d-block" tabindex="-1" *ngIf="visible">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="btn-close" (click)="close()"></button>
          </div>

          <div class="modal-body">
            <ng-content></ng-content>
          </div>

          <div class="modal-footer" *ngIf="showFooter">
            <button class="btn btn-secondary" (click)="close()">Cancel</button>

            <button
              *ngIf="confirmText"
              class="btn btn-danger"
              (click)="confirm()">
              {{ confirmText }}
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-backdrop fade show" *ngIf="visible"></div>
